:root {
    --tooltip-margin: 30px;
}

.Tooltip-Wrapper {
    display: inline-block;
    position: relative;
}

.Tooltip{
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 1;
}

.Tooltip.top{
    top: calc(var(--tooltip-margin) * -1);
}

.Tooltip.top::before {
    top: 100%;
}

.Tooltip.bottom{
    top: calc(var(--tooltip-margin) * 1);
}

.Tooltip.bottom::before {
    bottom: 100%;
}
